@import '/src/styles/variables.scss';

.page-header {
  background-color: transparent;
  width: 1366px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding: 27px 98px 31px;
  background-color: $background-white;
}