$white: #ffffff;
$darker-white: #F6F7FF;
$lighter-gray: #E0E1EA;
$light-gray: #C1C2CA;
$gray: #707C87;
$blue: #2C36F2;
$dark-blue: #1F1E25;
$black: #000000;

$roboto-font: 'Roboto', Arial, Helvetica, sans-serif;

$site-width: 1366px;