@import '/src/styles/variables.scss';

.page-footer {
  width: 100%;
  min-height: 224px;
  background-color: $darker-white;
}

.page-footer__wrapper {
  width: $site-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 80px;
  padding: 49px 98px 55px;
}

.page-footer__description {
  font-size: 12px;
  line-height: 17px;
  color: $gray;
}

.page-footer__phone {
  font-weight: 500;
}