@import '/src/styles/variables.scss';

.page-footer {
  background-color: transparent;
  width: 1366px;
  margin: 0 auto;
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 80px;
  padding: 49px 98px 55px;
  background-color: $background-white;
}

.page-footer__description {
  font-size: 12px;
  line-height: 17px;
  color: $footer-description;
}

.page-footer__phone {
  font-weight: 500;
}