@import '/src/styles/variables.scss';

.converter {
  width: 100%;
  min-height: 510px;
}

.converter__wrapper {
  width: $site-width;
  margin: 0 auto;
  padding: 46px 98px 100px;
}

.converter__header {
  font-weight: 700;
  font-size: 41px;
  line-height: 57px;
  margin-bottom: 50px;
}

.converter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.converter-form__ammount-input:first-child {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 52px;
    height: 18px;
    right: -91px;
    bottom: 15px;
    background-image: url('../../assets/img/arrow.svg');
  }

  &::after {
    position: absolute;
    content: '';
    width: 52px;
    height: 18px;
    right: -89px;
    bottom: 33px;
    transform: rotate(-180deg);
    background-image: url('../../assets/img/arrow.svg');
  }
}